<div [@pageTransition]>
      <h1>Admin Dashboard</h1>
      <div class="cards">
            <div class="card">
                  <h3>Total Revenue</h3>
                  <p>{{dashboardData.total_revenue | currency:'INR'}}</p>
            </div>
            <div class="card">
                  <h3>Monthly Revenue</h3>
                  <p>{{dashboardData.current_month_revenue | currency:'INR'}}</p>
            </div>
            <div class="card">
                  <h3>Total Subscriptions</h3>
                  <p>{{dashboardData.total_paying_subscriptions}}</p>
            </div>
            <div class="card">
                  <h3>Total Clients</h3>
                  <p>{{dashboardData.userCount}}</p>
            </div>
      </div>
      <section class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-5">

            <!-- Monthly Revenue -->
            <div class="custom-card p-6">
                  <h4 class="card-title mb-4">Monthly Revenue</h4>
                  <div class="h-72">
                        <ngx-charts-line-chart [scheme]="colorSchemeRevenue" [results]="revenueChartData" [xAxis]="true"
                              [yAxis]="true" [legend]="true" [autoScale]="true" [timeline]="false" [gradient]="true"
                              [roundDomains]="true" [legendPosition]="legendPosition">
                        </ngx-charts-line-chart>
                  </div>
            </div>

            <!-- Project Status (Donut Chart Style) -->
            <div class="custom-card p-6">
                  <h4 class="card-title mb-4">Project Status</h4>

                  <div class="h-72 flex justify-center">
                        <ngx-charts-pie-chart [scheme]="statusColorScheme" [results]="projectStatusData" [legend]="true"
                              [doughnut]="true" [arcWidth]="0.35" [labels]="false" [legendPosition]="legendPosition">
                        </ngx-charts-pie-chart>
                  </div>
            </div>
      </section>
</div>