/* Sidebar */
.sidebar {
    position: sticky;
    top: 0px;
    min-height: 100vh;
    width: 240px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 20px;
    --tw-bg-opacity: 1;
    background-color: #111827;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1.25rem;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    font-weight: 300;
}

.sidebar[aria-expanded=false] {
    @apply w-0 p-0 overflow-hidden
}

.brand-wrapper {
    @apply flex items-center min-h-[2rem] justify-between
}

.brand {
    @apply flex items-center gap-x-2 transition-all duration-300
}

app-sidebar[aria-expanded="false"] .brand-wrapper {
    @apply justify-evenly
}

app-sidebar[aria-expanded="false"] .brand {
    @apply scale-0 w-0
}

/* Sidebar Links */
.menu-links {
    @apply flex flex-col gap-y-3 pt-5 font-medium;
}

.menu-item {
    @apply inline-flex w-full gap-x-2 items-center px-2 py-1 text-white transition duration-300 ease-in-out rounded overflow-hidden
}

.menu-item span {
    @apply text-sm
}

.sidebar[aria-expanded=false] .menu-links .menu-item span {
    @apply hidden
}


.menu-item:hover, .menu-item.active {
    background: #1f2937;
}

.menu-item i::before {
    @apply inline
}

.sub-menu {
    position: relative;
}

.sub-menu[aria-expanded=true] {
    @apply text-gray-300
}

.sub-menu::after {
    font-family: "Bootstrap-Icons";
    content: "\F282";
    position: absolute;
    font-size: 0.5rem;
    right: 0;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.sub-menu[aria-expanded=true]::after {
    transform: rotateZ(90deg);
}

.sub-menu[icon-hidden]::after {
    opacity: 0;
}

.sub-menu-item {
    @apply flex flex-col ml-4 pl-2 border-l border-slate-700 text-sm overflow-hidden max-h-0 transition-[max-height] duration-300 ease-in-out
}

.sub-menu[aria-expanded=true]+.sub-menu-item {
    @apply !max-h-96
}

.collapsible-top-icon,
.collapsible-bottom-icon {
    @apply transition-all duration-100 ease-in-out
}

.collapsible-btn-container {
    @apply fixed left-0 top-1/2 translate-x-[15rem] transition-all duration-300
}

.collapsible-top-icon {
    @apply bg-slate-400 h-4 w-1 translate-y-[0.15rem] rounded-full
}

.collapsible-bottom-icon {
    @apply bg-slate-400 h-4 w-1 translate-y-[-0.15rem] rounded-full
}

#sidebar-collapse-btn:hover .collapsible-top-icon {
    @apply bg-slate-800
}

#sidebar-collapse-btn:hover .collapsible-bottom-icon {
    @apply bg-slate-800
}

.sidebar[aria-expanded=false] .collapsible-btn-container {
    @apply translate-x-[0.3rem]
}

.sidebar[aria-expanded=false] .collapsible-btn-container .collapsible-top-icon {
    @apply rotate-[-15deg]
}

.sidebar[aria-expanded=false] .collapsible-btn-container .collapsible-bottom-icon {
    @apply rotate-[15deg]
}

.sidebar[aria-expanded=true] #sidebar-collapse-btn:hover .collapsible-top-icon {
    @apply rotate-[15deg]
}

.sidebar[aria-expanded=true] #sidebar-collapse-btn:hover .collapsible-bottom-icon {
    @apply rotate-[-15deg]
}